{% set fields = mcw.getFieldKeys() %}
{{ dump(fields) }}

<div id="{{ mcw.getId }}"
     class="tl_modulewizard multicolumnwizard mcw-wrapper"
>
    <div class="mcw-header">
        {% for field in fields %}
            {% if field.isHidden == true %}
                <div class="mwc-header-column isHidden">
                    &nbsp;
                </div>
            {% else %}
                <div class="mwc-header-column{% if field.hasDescription == true %} hasDescription{% endif %}">
                    {{ item.label }}
                    {% if item.hasDescription == true %}
                        <span title="{{ item.description }}">
                            <sup>(?)</sup>
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


